@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}

p {
    text-align: justify !important;
}

/* go to top button */
#btnScrollToTop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #3434f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 100;
    display: none;

}


#btnScrollToTop:hover {
    background-color: #5f8aff;
}

/* go to top button */

/********** navbar starts***********/
.logo {
    width: 8rem;
    height: 5rem;

}

#userid {
    display: block;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 112px;
    left: 63rem;
    width: auto;
    z-index: 100;
    color: black;
    display: none;
}

#userid.active {
    display: inline-block;
}


.user_icon {
    margin-left: 5px;
    margin-top: 8px;
    color: #4c4242;
    font-size: 24px;
    margin-right: 23px;
    cursor: pointer;
    background: transparent;
}

.user_icon:hover {
    color: gray;
}

.apl_btn {
    margin-right: 10px;
}

/********** navbar ends***********/


/********** carousel starts***********/
.carousel-inner .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-inner .carousel-item::before {
    content: '';
    background-color: rgba(12, 11, 10, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-inner .carousel-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 37%;
    right: 0;
    bottom: 0;
    left: 0;
}

.carousel-inner .carousel-caption h2 {
    color: #ff7b21;
    margin-bottom: 5px;
    font-size: 47px;
    width: 80%;
    margin: 0px auto 30px auto;
}

.carousel-inner .carousel-caption p {
    font-size: 20px;
    width: 80%;
    margin: 0px auto 20px auto;
}

/**********  carousel ends  ***********/

.section-heading {
    color: #ff7b21;
}

/* Courses */
.course .box {
    padding: 10px 10px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

/* Courses */


/* Gallery */
.gall2 {
    height: 15rem;
}


/* Gallery */

iframe {
    width: 100%;
}

/**********  Responsive  ***********/

@media(max-width:768px) {
    .carousel-inner .carousel-caption h2 {
        font-size: 38px;
    }
}

@media(max-width:577px) {

    .carousel-inner .carousel-caption h2 {
        font-size: 25px;
    }

    .carousel-inner .carousel-caption p {
        font-size: 13px;
    }

    .maps {
        width: 100%;
    }
}


/**********  Responsive  ***********/